@using ProdajaPica.ViewModels

@model NarudzbeViewModels

@{
    ViewData["Title"] = "Popis narudzbi";
}

<a asp-action="Create" class="btn btn-primary">Unos nove narudzbe</a>

<pager page-info="@Model.PagingInfo" page-title="Unesite željenu stranicu" page-action="Index" class="float-right">
</pager>

<table class="table table-sm table-striped table-hover" id="tableNarudzba">
    <thead>
        <tr>
            <th class="text-center">
                <a asp-route-sort="1" asp-route-page="@Model.PagingInfo.CurrentPage"
                    asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">
                    Id
                </a>
            </th>
            <th class="text-center">
                <a asp-route-sort="2" asp-route-page="@Model.PagingInfo.CurrentPage"
                    asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? !Model.PagingInfo.Ascending : true)">
                    Status
                </a>
            </th>
            <th class="text-center">
                <a asp-route-sort="3" asp-route-page="@Model.PagingInfo.CurrentPage"
                    asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)">
                    Datum
                </a>
            </th>
            <th class="text-center">
                <a asp-route-sort="4" asp-route-page="@Model.PagingInfo.CurrentPage"
                    asp-route-ascending="@(Model.PagingInfo.Sort == 4 ? !Model.PagingInfo.Ascending : true)">
                    Napomena
                </a>
            </th>
            <th class="text-center">
                <a asp-route-sort="5" asp-route-page="@Model.PagingInfo.CurrentPage"
                    asp-route-ascending="@(Model.PagingInfo.Sort == 5 ? !Model.PagingInfo.Ascending : true)">
                    Iznos
                </a>
            </th>
            <th class="text-center">
                <a asp-route-sort="6" asp-route-page="@Model.PagingInfo.CurrentPage"
                    asp-route-ascending="@(Model.PagingInfo.Sort == 6 ? !Model.PagingInfo.Ascending : true)">
                    Kupac
                </a>
            </th>
            <th class="text-center">
                <a asp-route-sort="7" asp-route-page="@Model.PagingInfo.CurrentPage"
                    asp-route-ascending="@(Model.PagingInfo.Sort == 7 ? !Model.PagingInfo.Ascending : true)">
                    Proizvodi
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="text-center">
        @foreach (var narudzba in Model.Narudzba)
        {
            <tr>
                <td class="text-center" style="vertical-align: middle">@narudzba.Id</td>
                <td class="text-center" style="vertical-align: middle">@narudzba.Status</td>
                <td class="text-center" style="vertical-align: middle">@narudzba.Datum</td>
                <td class="text-center" style="vertical-align: middle">@narudzba.Napomena</td>
                <td class="text-center" style="vertical-align: middle">@narudzba.Iznos</td>
                <td class="text-center" style="vertical-align: middle">@narudzba.Kupac.NazivObjekta</td>
                <td class="text-center" style="white-space: pre-line">@narudzba.Proizvod</td>
                <td class="btn-group">
                    <a asp-action="Show" asp-route-id="@narudzba.Id" asp-route-page="@Model.PagingInfo.CurrentPage"
                    asp-route-sort="@Model.PagingInfo.Sort" asp-route-ascending="@Model.PagingInfo.Ascending"
                    asp-route-position="@narudzba.Position" class="btn btn-sm" title="Više">
                        <i class="fas fa-info-circle"></i>
                    </a>
                    <a asp-action="Edit" asp-route-id="@narudzba.Id" asp-route-page="@Model.PagingInfo.CurrentPage"
                    asp-route-sort="@Model.PagingInfo.Sort" asp-route-ascending="@Model.PagingInfo.Ascending"
                    class="btn btn-sm" title="Ažuriraj">
                        <i class="fas fa-edit"></i>
                    </a>
                    <form asp-action="Delete" method="POST" asp-route-page="@Model.PagingInfo.CurrentPage"
                    asp-route-sort="@Model.PagingInfo.Sort" asp-route-ascending="@Model.PagingInfo.Ascending">
                        <input type="hidden" name="Id" value="@narudzba.Id" />
                        <button type="submit" class="btn bt-sm btn-danger delete" title="Obriši">
                            <i class="fa fa-trash-alt"></i>
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@section styles {

}

@section scripts{

}